# Split downloaded raw data into training and test data    
Christoph Windheuser, ThoughtWorks, May 27, 2020

In [2]:
import pandas as pd
from pathlib import Path

## Read raw data file

In [3]:
filename = "./data/raw/store47-2016-head.csv"
fileextension = Path(filename).suffix

if fileextension == ".csv":
    df = pd.read_csv (filename)
    print ("csv-file imported as dataframe")
else:
    print ("Wrong file extension!")

csv-file imported as dataframe

In [4]:
df.head(10)

,id,date,item_nbr,unit_sales,family,class,perishable,transactions,year,month,day,dayofweek,days_til_end_of_data,dayoff
0,88219279,2016-08-16,103520,10.0,GROCERY I,1028,0,3570,2016,8,16,1,364,False
1,88219280,2016-08-16,103665,4.0,BREAD/BAKERY,2712,1,3570,2016,8,16,1,364,False
2,88219281,2016-08-16,105574,9.0,GROCERY I,1045,0,3570,2016,8,16,1,364,False
3,88219282,2016-08-16,105575,45.0,GROCERY I,1045,0,3570,2016,8,16,1,364,False
4,88219283,2016-08-16,105577,8.0,GROCERY I,1045,0,3570,2016,8,16,1,364,False
5,88219284,2016-08-16,105693,2.0,GROCERY I,1034,0,3570,2016,8,16,1,364,False
6,88219285,2016-08-16,105737,6.0,GROCERY I,1044,0,3570,2016,8,16,1,364,False
7,88219286,2016-08-16,105857,14.0,GROCERY I,1092,0,3570,2016,8,16,1,364,False
8,88219287,2016-08-16,106716,13.0,GROCERY I,1032,0,3570,2016,8,16,1,364,False
9,88219288,2016-08-16,108079,2.0,GROCERY I,1030,0,3570,2016,8,16,1,364,False

## Split into train and test data set

In [5]:
# Split the data at the date 2017-08-02 (last 14 days of data set)
df_train = df[df['date'] < '2017-08-02']
df_test  = df[df['date'] >= '2017-08-02']

## Save train and test data as csv-file

In [8]:
train_filename = "./data/raw/store47-2016-train.csv"
test_filename  = "./data/raw/store47-2016-test.csv"

df_train.to_csv(train_filename, index=False)
df_test.to_csv(test_filename, index=False)